.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5000;
    width: 100%;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 0rem;
    padding-right: 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255, 255, 255, 0.623);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8);
    transition: all 0.3s ease;
    height: 4.5rem;
}

.navbar-search {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    transition: border-color 0.3s;
}

.navbar-search:focus {
    border-color: transparent;
}

@keyframes navbar-fade-in {
    0% {
        opacity: 0;
        transform: translateY(-8px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.navbar.animate {
    animation: navbar-fade-in 0.3s ease-out;
    will-change: transform, opacity;
}

.navbar-menu {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.navbar-left {
    display: flex;
    align-items: center;
    font-weight: 600;
    transform: translateX(-20px);
    animation: slideIn 0.3s ease forwards 0.1s;
    width: fit-content;
    flex-direction: row;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.navbar button {
    display: flex;
    align-items: center;
    background: hsla(0, 0%, 100%, 0.268);
    border: 1px solid rgba(255, 255, 255, 0.261);
    color: #000;
    padding: 6px 12px;
    border-radius: 4px;
    user-select: none;
    cursor: pointer;
}

.navbar-item {
    display: flex;
    align-items: center;
    padding: 0.5em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 1em;
    border-radius: 4px;
    animation: fade-in 0.2s ease-out;
    user-select: none;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.navbar-item:hover {
    background-color: rgba(0, 0, 0, 0.05);
    transform: scale(1.1);
}

.navbar-icon {
    width: 1.2em;
    height: 1.2em;
    transition: transform 0.2s ease-out;
}

.navbar-item:hover .navbar-icon {
    transform: rotate(0deg);
}

.navbar-icon-button {
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.4s ease;
    margin: 0 8px;
    user-select: none;
}

.navbar-icon-button img {
    width: 100%;
    height: 100%;
    user-select: none;
}
