.console-toast {
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: Roboto, sans-serif;
    background-color: #272822;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    max-width: 600px;
    max-height: 400px;
    word-break: break-word;
    overflow: auto;
    margin-bottom: 10px;
}

.console-toast-theme {
    background-color: var(--toast-background);
    color: var(--toast-text);
}

.toast-container {
    position: relative;
    bottom: 0;
    right: 0;
    margin: 20px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #2b2b2b;
    color: #a9b7c6;
    transition: all 0.3s ease;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: Roboto, sans-serif;
}

.toast-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    pointer-events: none;
}

.error-element {
    margin-bottom: 15px;
    border-bottom: 1px solid var(--toast-border);
    padding-bottom: 15px;
}

.error-message {
    font-weight: bold;
    color: var(--toast-error);
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.error-icon {
    width: 20px;
    height: 20px;
}

.error-prefix {
    font-size: 0.8em;
    color: var(--toast-text);
    margin-bottom: 8px;
}

.error-details {
    font-size: 0.9em;
    color: var(--toast-text);
}

.error-file, .error-line {
    color: var(--toast-key);
}

.code-container {
    margin-top: 10px;
}

.code-header {
    color: var(--toast-key);
    margin-bottom: 5px;
}

.code-content {
    margin: 0;
    padding: 10px;
    background: var(--toast-background)80;
    border: 1px solid var(--toast-border);
    border-radius: 5px;
    font-size: 0.9em;
    overflow: auto;
    max-height: 200px;
    white-space: pre-wrap;
}

.log-element {
    margin-bottom: 10px;
    border-bottom: 1px solid var(--toast-border);
    padding-bottom: 10px;
}

.formatted-log {
    font-weight: bold;
    font-size: 1em;
    color: lightgreen;
    white-space: pre-wrap;
    word-break: break-word;
}

.tree-view {
    list-style-type: none;
    padding-left: 20px;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
}

.tree-view-item {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.tree-view-item:hover {
    background-color: #323232;
}

.tree-view-item.collapsed > ul {
    max-height: 0;
    overflow: hidden;
}

.tree-view-item.expanded > ul {
    max-height: 1000px;
}

.preview {
    color: #808080;
    font-style: italic;
}