root {
  --main-color: #1a73e8;
  --secondary-text-color: #1a73e;
  --main-color-light: #1a73e8;
  --main-color-dark: #1a73e8;
  --text-color: #333;
  --text-color-light: #333;
  --text-color-dark: #ffffff;
  --bg-color: #fff;
  --bg-color-light: #fff;
  --bg-color-dark: rgba(40, 44, 55, 0.8);
  --bg-color-darker: rgba(24, 26, 32, 0.856);

  --navbar-height: 1em;
}

body {
  background: radial-gradient(
    circle,
    rgb(241, 241, 241) 0%,
    rgba(216, 216, 216, 0.658) 100%
  );
  font-family: "Roboto", sans-serif!important;
  color: #333;
  transition: background-color 1s, color 1s;
}

body .dark-theme * {
  background-color: #212529;
  background: #212529;
}

.app-container{
  display: flex;
  flex-direction: column;
  gap: 1em;
  CONTAIN-INTRINSIC-BLOCK-SIZE: AUTO 100PX;
}

/* ConsolePanel Component */
.console-panel {
  background-color: rgba(27, 27, 27, 0.8) !important;
  backdrop-filter: "blur(10px)";
}

.log {
  margin-bottom: 5px;
  backdrop-filter: "blur(10px)";
  padding: 5px;
  position: relative;
  border-radius: 10px;
}

.error-log {
  background-color: rgba(173, 28, 2, 0.39) !important;
}

/* Navbar Component */
.navbar {
  background-color: rgba(255, 255, 255, 0.596);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  transition: top 0.3s;
  height: var(--navbar-height);
  border-bottom: 1px solid #ddd;
  padding: 0.5rem; /* p-2 */
  box-shadow:  0 5px 35px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  z-index: 10;
  transition: background-color 0.5s, color 0.5s;
}

.navbar-items-group {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.navbar-items-container{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar.hide {
  top: calc(-4 * var(--navbar-height));
}

.navbar h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #222;
}

.navbar a {
  color: #555;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #1a73e8;
}

.view-section {
  height: calc(80vh - var(--navbar-height));
  /* background-color: var(--bg-color); */
}

#message-view {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 300px;
}

.message-container {
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 20px;
}

.message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.message-title {
  font-size: 18px;
  font-weight: bold;
}

.message-close {
  font-size: 18px;
  cursor: pointer;
}

.message-body {
  padding: 20px;
}

.message-text {
  font-size: 16px;
  color: #666;
}

/* App Button */
.app-button {
  position: relative;
  display: inline-flex;
  background-color: rgba(0, 0, 0, 0.05);
  z-index: 10;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 300;
  border-radius: 12px;
  padding: 6px 12px;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

.app-button:hover {
  background-color: rgba(0, 0, 0, 0.288);
}

.app-button:before {
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  vertical-align: middle;
}

/* Dashboard Component */
.dashboard-card {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.dashboard-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.chart-section {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chart-section h2 {
  margin-bottom: 20px;
  font-size: 1.5em;
  color: #333;
}

.content-container {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 10px;
}

.chart-container {
  position: relative;
  height: 450px;
  width: 100%;
  position: relative;
}

.chart-container.hidden {
    display: none;
}

/* Text */
.text-thin {
  font-family: var(--bs-font-sans-serif);
  color: #212529;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  font-size: calc(1.425rem + 2.1vw);
  font-weight: 300;
  line-height: 1.0;
  border-bottom: 1px solid #dee2e6 !important;
  margin-bottom: 1rem !important;
  padding-bottom: 1rem !important;
}

/* File Input */
.custom-file-input {
  border: 2px dashed #1a73e8;
  border-radius: 20px;
  width: 100%;
  box-sizing: border-box;
  padding: 40px;
  text-align: center;
  cursor: pointer;
  color: var(--secondary-text-color);
  background-color: rgba(53, 59, 72, 1) 0%;
  transition: background 2s, border-color 2s;
}

.custom-file-input:hover {
  background: rgba(26, 115, 232, 0.05);
  border-color: #1a73e8;
}

.filter-label {
  font-size: 1.2rem;
  font-weight: medium;
  color: #444;
}

.app-dropdown {
  position: relative;
  display: inline-flex;
  z-index: 10;
  background-color: rgba(209, 209, 209, 0.336);
  backdrop-filter: blur(10px);
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 300;
  border-radius: 8px;
  padding: 0.3em 0.6em;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

.app-dropdown * {
  background-color: rgba(255, 255, 255, 0.815);
  backdrop-filter: blur(10px);
}

.app-dropdown {
  background-color: rgba(224, 224, 224, 0.404);
  backdrop-filter: blur(10px);
}

.app-dropdown:focus {
  outline: none;
  box-shadow: none;
}

.app-dropdown-items-container{
  display: none;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.185);
  backdrop-filter: blur(10px);
  z-index: 10;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 300;
  border-radius: 12px;
  padding: 0.3em 0.6em;
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s;
}

.app-dropdown:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Dark theme */
body.dark-theme {
  background: radial-gradient(
    circle,
    rgba(53, 59, 72, 1) 0%,
    rgba(31, 36, 43, 1) 100%
  );
  background-color: var(--bg-color-dark);
  color: #ffffff;
}

body.dark-theme .app-navbar-icon {
  filter: invert(1);
}

body.container {
  background-color: rgba(0, 0, 0, 0.849);
}

body.dark-theme .dashboard-card {
  background: rgba(48, 54, 63, 0.8);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

body.dark-theme .tab-button {
  background-color: rgba(255, 255, 255, 0.1);
  color: #e4e7eb;
}

body.dark-theme .tab-button.active {
  background-color: #1d4ed8;
  color: #fff;
}

body.dark-theme .navbar,
.navbar.dark-theme {
  background-color: var(--bg-color-dark);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--bg-color-darker);
  color: white;
}

/* Dropdown */
.app-dropdown .dark-theme {
    color: var(--text-color-dark);
    font-weight: 300;
    background-color: rgba(53, 53, 53, 0.171);
    line-height: 1.0;
}


/* Button */
.app-button {
  color: var(--text-color-dark);
}

/* Chart section */
.chart-section .dark-theme {
  background-color: #333c45!important;
  background: #333c45!important;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.3);
}

.chart-section h2 .dark-theme {
  margin-bottom: 20px;
  font-size: 1.5em;
  color: #dbdbdb;
}

.chart-container .dark-theme {
  background-color: #212529;
  background: #212529;
}

.dashboard-card .dark-theme {
  background-color: var(--bg-color-dark);
  background: var(--bg-color-dark);
}

.view-section .dark-theme {
  background-color: #212529;
  background: #212529;
}
